APP_NAME=Sistema de Gerenciamento de Entregas
APP_ENV=development
DATABASE_URL=mysql+pymysql://entregas:senha@localhost:3306/entregas_db?charset=utf8mb4
JWT_SECRET=troque-este-segredo-em-producao-com-mais-de-32-bytes
JWT_EXPIRES_MINUTES=480
CORS_ORIGINS=*
SEED_DATABASE=true
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_RESTRICTED_KEY=
GEOCODING_PROVIDER=google / or nominatim
USE_GOOGLE_ROUTE_OPTIMIZATION=true
GOOGLE_ROUTE_OPTIMIZATION_SERVICE_ACCOUNT_FILE=
GOOGLE_ROUTE_OPTIMIZATION_ENDPOINT=
GOOGLE_ROUTE_OPTIMIZATION_SCOPE=https://www.googleapis.com/auth/cloud-platform
MAPTILER_API_KEY=
